.clasex{
    background-color: blue;
}

.nav{
    background-color: blue;
}


.titulo{
    text-align: center;
}
.titulo-border{
    border: 2px solid black;    
}

#idsec{
    border:4px double black ;
}


[href]{

    text-decoration: none ;
}
[href="#"]{
    color : blue
}

[href^="https"]{
    color : olive
}

[href]