body{
    background-image: url(./img/fondo-login.jpg);
    background-size: cover ;
    display: flex;
    justify-content: center;
    align-items: center;

 }

 h1{
    text-align: center;

 }
.main{
    display:flex ;
    justify-content: center;
    align-items: center;

}


label{
    width: 100%;
}
input{
    margin: 0.5em;
    width: 100%;
    margin: 0.5em ;
    padding: 0.8em;
    border: 2px solid red;
    border-radius: 7px;

}

.img-1{

    width: 20%;
    margin: 6px 240px 5px 200px;
    

    
}

.boton{
    background-color: red;
    border:2px solid red;
    color: white;
    
}
.boton:hover{
    color: black;

}

form{
    border: 2px solid red;
    background-color: white;

    width: 50% ;
    margin: auto;
    padding: 50px;
    box-shadow: 2px 5px 5px black;
    border-radius: 7px;

   
}

.contra{
    color: red ;
    display: block;
    text-align: center;
    
}