

.header{
    height: 400px;
    background: red;
    color: white;
    font-size: 5px;
    border: 10px solid black;
    text-align: center;
    padding: 15px;


    
}




header>h2.title#title{
    font-size: 30px;
    /* color: green; */
}

.copy{
    color: black;
}
.title{
    /* font-size: 25px;*/
    border: inherit;
    padding: inherit;
    /*text-align: initial;
    color: initial;
} */