.container{
    width: 640px;
    border: 4px solid blue;
    overflow: hidden;

}

img{
    width: 100%;
    filter: blur(10px) grayscale(2px);
    transition: .3s ;
}
img:hover{
    filter: none;
    /*filter: brightness(0.9) contrast(0.8);*/
    
    /*filter: opacity(0.6) saturate(300%);*/
    /* filter: sepia(0.6); */
    filter: invert(0.8);
    transform: scale(1.2);  
}