body{
    margin: 0 ;
}
.box{
    /* border: 1px solid black;
    padding: 10px;
    margin: 50px; */
    width: 300px ;
    height: 120px ;
    border: 0.1px solid transparent;
}

.box1{
    
    background: red;
    /* margin: 30px ; */
    /* margin: 30px 2px 100px 50px; */
    /* margin:30px 20px; */
    padding-top: 40px;
    border: 1px solid black;


}
/* .header{
    background: yellow ;
    height: 40px;
    margin-top: 40px;
    opacity: 0.5; */


/* } */

.box2{

    background: blue;
    margin-top: 40px;
    margin-top: -75px;
    /* opacity: 0.5;
} */
   
    
    margin-top: 30px;

    padding-top: 20px;
    padding-bottom: 500px;
    padding-left: 30px;
    padding-right: 30px ;
    box-sizing: content-box ;
    /* box-sizing: border-box ; */
    overflow:scroll;


 }